<div class="row-fluid">
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Sunday</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
					<th>Saturday</th>
				</tr>
			</thead>
			<tbody ng-controller="CalCtrl">
				<tr>
					<td class="cal-day-number" ng-repeat="day in days | limitTo:7">
						<div ng-include="'/ng-partials/cell-contents.html'"></div>
					</td>
				</tr>
				<tr>
					<td class="cal-day-number" ng-repeat="day in days | limitTo:-7">
						<div ng-include="'/ng-partials/cell-contents.html'"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	//Angular.js codes
	//Define an Angular module for takeIt
	var takeIt = angular.module('takeit', ['takeIt.filters', 'takeIt.controllers', 'takeIt.directives', '$strap.directives']);
</script>
<%= javascript_include_tag 'takeit' %>
<%= javascript_include_tag 'angular-strap.min' %>
<%= javascript_include_tag 'garlic.min' %>