<p>Enter the information below and we'll let other people know about your shift!</p>

<p>
	<form ng-submit="addShift();dismiss()" class="form-inline">
		<input type="text" id="start-time" class="input-mini shift-start-time-picker" ng-model="postShiftData.start_date" /> to
		<input type="text" id="end-time" class="input-mini shift-end-time-picker" ng-model="postShiftData.end_date" />
		<button class="btn btn-primary btn-small" type="submit"><i class="icon-ok icon-white"></i></button>
		<button class="btn btn-small" type="button" ng-click="dismiss()"><i class="icon-remove icon"></i></button>
	</form>
</p>