<p>
	<strong>{{shift.poster}}</strong> posted this shift:
	<br />
	<a href="" bs-tooltip="shift.date_posted | date:'medium'" data-placement="top">{{getTakenSinceTime(shift.date_posted)}}</a>
</p>
<div ng-show="shiftAllowTake(shift)">
	<button class="btn btn-primary" ng-click="takeShift(shift);dismiss()"><i class="icon-ok icon-white"></i> Take shift</button>
	<button class="btn" ng-click="dismiss()"><i class="icon-remove"></i> No thanks</button>
</div>
<div ng-show="shift.taker">
	<p>
		<strong>{{shift.taker}}</strong> took this shift:
		<br />
		<a href="" bs-tooltip="shift.date_taken | date:'medium'" data-placement="top">{{getTakenSinceTime(shift.date_taken)}}</a>
	</p>
</div>

<script type="text/javascript">
	
</script>